{{ define "header" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lenslocked</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
{{ end }}

<!-- page content -->
<!-- TODO: replace this base template with a real nested template + partials
(checkout snippetbox) -->
<!-- TODO: use tailwind 3 -->

{{ define "footer" }}
  </body>
</html>
{{ end }}
